body {
    font: 16px/28px arial, sans-serif;
    background-image: url(img/papyrus.webp);
    color: #333;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
    background-image: url(Img/papyrus.webp);
}

/* header */
.header {
    padding:10px ;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 30px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}


.hero {
    height: 410px;
    background-image:url(img/Ali\ 2.jpg);
    background-size:cover ;
    background-position:0 -30px ;
    border-top: 5px solid rgb(80, 70, 70);
    border-bottom: 5px solid rgb(80, 70, 70);
}

/* content */
.content {
    padding: 5px;
}

.content h2 {
    font-size: 30px;
    font-weight: bold;
}

.content .penulis {
    font-size:20px ;
    margin-top: -5px;
}


.content .penulis a {
    color: salmon;
    text-decoration: none;
}
 
.content .p {
    margin-bottom:20px ;
    font-size: 14px;
}


.Nathan {
    height: 500px;
    background-image:url(img/Ali\ 1.jpg);
    background-size:cover ;
    background-position:0 -30px ;
    border-top: 5px solid rgb(119, 196, 199);
    border-bottom: 5px solid rgb(119, 196, 199);
}

.h3 .mbdtf {
    font-size: 50px;
    font-weight: bold;
}



.footer {
    background-color: #333;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px ;
}