h1, h2 {
            color: rgb(110, 36, 103);
            font-size: 50px;
            font-family: "Creepster", system-ui;
        }

        h2 {
            color: rgb(52, 152, 186);
            font-size: 100px;
            font-family: "Creepster", system-ui;
        }
        